body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}

h1.title {
  text-align: center;
  color: #333;
}

ul.todo-list {
  list-style-type: none;
  padding: 0;
}

li.todo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

li.todo-item:last-child {
  border-bottom: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.task-title {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-button {
  color: #fff;
  background-color: #ff0000;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;

}

.delete-button:hover {
  background-color: #cc0000;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.new-task-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-container {
  text-align: right;
  margin-top: -35px;
  margin-bottom: 10px;
}

.task-container {
display: inline;
  align-items: center;
}